@import '~bootstrap/scss/bootstrap-reboot.scss';
@import '~bootstrap/scss/bootstrap-utilities.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';

@import '~bootstrap-icons/font/bootstrap-icons.css';
